:root{
    --primary: #4225c4;
}
body{
    background: #63b060;
    font-family: 'Poppins', sans-serif;
}

.banner{
    width: 100%;
}

.navbar{
    min-width: 90px;
}

.navbar .btn{
    padding: .625rem 1.25rem !important; 
}
.text-primary{
    color: var(--primary) !important;
    min-height: var(--primary) !important;
}

.btn{
    padding: 1rem;

}
.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary);
    border-color: var(--primary);
}
.bg-primary{
    background-color: var(--primary) !important;
}

.content{
    max-width: 1200px;
}

#container{
    height: 900px;
}